bcrypt==3.2.0
cffi==1.14.5
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
dnspython==2.1.0
email-validator==1.1.2
Flask==2.0.1
Flask-Classful==0.14.2
Flask-Cors==3.0.10
flask-mongoengine==1.0.0
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
jwt==1.2.0
MarkupSafe==2.0.1
marshmallow==3.12.1
mongoengine==0.23.1
mysql==0.0.3
mysqlclient==2.0.3
pycparser==2.20
pymongo==3.11.4
six==1.16.0
SQLAlchemy==1.4.18
Werkzeug==2.0.1
WTForms==2.3.3
